* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav-container {
  height: 100px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.wrapper {
  width: 1250px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

nav ul {
  display: flex;
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}
.nav-items li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
}

header {
  padding-top: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 24px;
}

header p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 55px;
  width: 850px;
}

.social-icons {
  margin-left: 900px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: absolute;
}

.social-icons a {
  margin: 0 12.7px;
}

header .hero-image {
  position: relative;
}

header .hero-image img {
  transition: 500ms;
}

header .hero-image img:hover {
  transform: rotate(-6deg);
}

.disbtn {
  background-color: #000000;
  opacity: 0.8;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 69px;
  width: 130px;
  font-family: "Poppins", sans-serif;
  margin: 9px 11px;
}

.skills {
  width: 700px;
  height: 450px;
  margin-top: auto;
  margin-right: auto;
  float: right;
}

.contactform {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 707px;
  height: 552px;
  float: right;
  margin-bottom: 100px;
  border-radius: 35px;
}

.formcontent {
  margin-left: 100px;
  margin-top: 60px;
}

input {
  width: 500px;
  height: 50px;
  margin-bottom: 7px;
  border-radius: 11px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

textarea {
  width: 500px;
  border-radius: 11px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.social-iconsf {
  width: 250px;
  height: 400px;
  margin-bottom: 200px;
}

.social-iconsf a {
  margin: 0 12.7px;
}

.submitbtn {
  text-align: center;
  font-size: 20px;
  height: 49px;
  width: 125px;
  margin-left: center;
  font-family: "Poppins", sans-serif;
  background: white;
  color: #000000;
  margin-top: 11px;
  margin-left: 190px;
  border-radius: 11px;
  cursor: pointer;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

a:hover {
  color: gold;
}

.logo {
  margin-top: 21px;
}

.logo :hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.social-icons :hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.social-iconsf :hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.email {
  align-items: center;
  font-size: 25px;
}

.hero {
  height: 87px;
  width: 220px;
}

.heroimg {
  height: 443px;
  width: 322px;
}

.study span{
  font-size: 20px;
  font-style: italic;
}

@media only screen and (min-width: 960px) {
.nav-container2{
  display: none;
}
}

@media only screen and (min-width: 768px) {
  .footer-social-icons {
    display: none;
  }

  i {
    display: none;
  }

  .credits0 {
    display: none;
  }

  .credits {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    text-decoration: none;
  }

  .animate__animated.animate__zoomInDown {
    --animate-duration: 500ms;
    --animate-delay: 0.9s;
  }

  .hero-content {
    margin-top: 30px;
  }

  .resume {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
    font-family: "Montserrat Alternates", sans-serif;
  }

  .resbtn {
    background-color: #000000;
    opacity: 0.8;
    border: none;
    border-radius: 9px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 55px;
    width: 175px;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    cursor: pointer;
  }

  .reslink {
    text-decoration: none;
    color: white;
  }

  .animate__animated.animate__zoomInDown {
    --animate-duration: 1500ms;
    margin-bottom: 30px;
  }
}
